In [15]:
import pandas as pd

In [44]:
continent_time_df = pd.read_csv("continent_time.csv")
# continent_time_df = continent_time_df.set_index('year')
final_df = continent_time_df.pivot(index='year', columns='continent', values='suicide_per_100k')
final_df.columns = [x.lower() for x in final_df.columns]
final_df

         africa  americas       asia     europe    oceania
year
1985  11.906027  8.411448  16.625905  13.342412  12.502630
1986   3.035060  8.679407  17.109056  13.228170  13.781194
1987  14.748350  8.577009  14.558832  14.473337  14.518946
1988  18.054054  8.381337  16.259814  14.099868  14.460481
1989  15.435738  8.192324  15.229757  17.962710  13.582407
1990  15.620019  8.306893  12.546270  17.958387  14.060879
1991  14.603987  8.235838  12.148018  18.405614  14.379193
1992  15.395972  8.475721  10.593219  19.562506  14.090894
1993  14.400501  8.607668  11.787146  21.219423  12.650296
1994  13.260691  8.539309  12.478497  22.174499  14.071597
1995  14.970975  8.659771  13.666728  22.268462  13.446486
1996   0.763503  8.414452  15.137454  21.677342  14.487154
1997   0.571575  8.293681  13.220992  21.444723  15.477007
1998   0.832117  8.369781  16.040209  20.640434  15.290010
1999   1.106228  8.095737  15.503002  20.847456  14.128532
2000   0.970579  7.996760  14.949015  20.923362  13.238515
2001   1.188285  8.343141  15.605324  20.561256  13.328430
2002   0.865911  8.388080  14.947520  20.321341  12.429439
2003   0.807600  8.348179  15.866529  19.593160  11.642004
2004   1.099829  8.380145  17.899968  18.786614  11.259128
2005   1.262261  8.383371  18.001883  17.975188  11.698237
2006   1.413239  8.384753  15.029244  16.949094  11.235763
2007   1.201005  8.546275  14.941790  16.441632  11.206256
2008   1.177918  8.824925  15.296879  16.269808  11.665530
2009   1.048025  8.916098  13.202509  16.377926  11.362873
2010   1.047970  8.925722  12.889517  15.550214  11.870048
2011   1.000815  9.061345  12.884357  15.266494  11.352032
2012   1.241127  9.253331  14.110021  14.913275  12.091321
2013   1.404215  9.223605  14.137672  14.450049  12.129833
2014   1.403861  9.320996  13.394715  14.127937  13.184305
2015   1.165756  9.605718  13.427890  13.541602  13.610131

In [45]:
final_df.to_csv('reformatted_continent_time.csv')